
{{ void(this.beginBlock('content')) }}

	{{ set(this, 'title', _Blog.getBlogTitle()) }}
    {{this.registerJs("HomeController.listing();")}}
	{% set limit = 20 %}
	{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
	{% set articles = articlesArr.articles %}

    <div class="layout-container">
        <div class="home">
            {% if articles|length > 0 %}
                 {% include 'layouts/elements/_card-layout-home.twig' with {articles: articles} %}
            {% endif %}
        </div>
    </div>

{{ void(this.endBlock()) }}
