{# <!-- An element a visitor can click if they <3 comments! -->
<div class="show-comments__wrap">
    <button class="show-comments button button__comments">Load x comments</button>
</div>

<!-- The empty element required for Disqus to loads comments into -->
<div id="disqus_thread"></div>

<script>

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
    /*
     var disqus_config = function () {
     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };
     */
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> #}
{% set disqusArr = _AppHelper.getDisqusToken(disqus) %}
{% if disqusArr.token != FALSE and disqusArr.token != '' %}
{% set disqusJsParams = {articleId: articleId, url: url, userId:userId, token: disqusArr.token, networkName: disqusArr.networkName, shortName:disqus.shortName, apiKey: disqus.apiKey  }  %}
{{this.registerJs('$.fn.Disqus({params:'~ disqusJsParams|json_encode|raw ~'})')}}
<div class="panel-group" id="accordion3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#FBComment"><i class="fa fa-comments"></i>Comments(<span class="disqus-comment-count" data-disqus-identifier="{{articleId}}">0</span>)</a></h4>
        </div>
        <div id="FBComment" class="panel-collapse collapse in">
            <div class="panel-body">
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}
