<div class="load-more">
		<div class="card-container ajaxArticles" data-existing-nonpinned-count="{{existingNonPinnedCount}}"></div>
		<button type="button" class="button button__load-more" aria-label="Close">Load more <i class="fa fa-refresh"></i></button>
</div>
